<nav class="header">
 
<div class="logo">

<div class="hamburger-icon"> <%= image_tag("hamburger.png", :alt => "Menu", :class => "ham") %>

</div>
<div class="search-icon"><%= image_tag("search.png", :alt => "Menu", :class => "search") %>

</div>
</div>

  <div>
    <p><%= page %></p>
  </div>
  <div>
    
  </div>
</nav>