<main>
<div class="splash-container">
  <div class = "splash-logo">
    <h1>My Budget App</h1>
  </div>
  <div class="d-grid gap-2">
    <%= link_to "LOG IN", new_user_session_path, class: "btn btn-primary-custom" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary-custom" %>
</div>
</main>
</div>
