<nav class="header">
  <div class="logo">
  <div class="new-categories">
    <p> NEW CATEGORY</p>
  </div>
  <div class="back-link">
  <%= link_to categories_path, class: "back" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
  </div>

</nav>

<div class="input-group">
  <%= link_to categories_path, class: "back-link" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
    <i class="bi bi-list"></i>
</div>
<%= render "form", category: @category %>

