  
  <nav class="header">

  <div class="logo">
    <div class="edit-transaction">
    <p> EDIT TRANSACTION </p>
  </div>
  <div>
    <%= link_to "Back", new_transaction_path, class: "back" %>
  </div>
</div>
</nav>
  
  


<%= render "form", transaction: @transaction %>

<br>

<div>
  <%= link_to "Show this transaction", @transaction %> |
  <%= link_to "Back to transactions", transactions_path %>
</div>
